body {
  background: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
}

main {
  margin: 0px 20px 0px 20px;
  padding: 5px;
  width: auto;
}

.hidden{
  display: none;
}

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
  margin: 0px 50px;
  border: solid;
  border-width: 1px;
  box-shadow: 2px 4px #000000;
}

header h1 {
  font-size: 4em;
  text-decoration-style: wavy;
}

header p{
  font-size: 1.5em;
}

#boredom, #dogs, #advice, #apod {
  text-align: center;
  width: auto;
  margin: 0px 10px;
  padding: 10px;
  border: solid;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 8px;
  border-width: 1px;
  box-shadow: 2px 4px #88888838;
  align-items: center;
  justify-content: center;
}

#boredom, #dogs, #advice, #apod, background{
  background-color: rgba(175, 175, 175, 0.822);
}

#apod p{
  text-emphasis: none;
}

#boredom p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center {
  padding: 70px 0 0 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

/*---- Setting up groups and items for flexbox */

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 2px;
}

.item-double {
  flex: 2;
  margin: 5px;
}

.item-triple {
  flex: 3;
  margin: 5px;
}

/*------ Box Sizing ------*/

* {
  box-sizing: border-box;
}

/*------ Images & Videos------*/
#apod img {
  width: 80%;
  border: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img.rounded {
  border-radius: 8px;
}

iframe {
  width: 80%;
  border: 1px;
  border-radius: 8px;
}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background:#000;
  color: #fff;
  margin: 0 8px 10px 0;
}

button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background:#000;
  color: #fff;
  margin: 0 8px 10px 0;
}

button:hover {
  font-size: 16px;
  background:#fff;
  color: green;
}

/*------ Groups and Items (Desktop) ----*/
@media all and (min-width:400px) {
/*--- Changes header flex direction to row--*/
.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  margin: 10px;
}

main {
  padding: 30px;
}

}